#bloc_section{
    display : flex;
    justify-content: space-around;
}

section{
    border:solid 1px black;
    border-radius : 10px;
    width : 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 15px;


}

.cell{
    width : 80%;
    height: 40px;
    margin-top : 10px;
    border : solid 1px black;
    border-radius : 5px;
    display: flex;
    justify-content: space-between;
}



#liste_demande{
    display:flex;
    flex-wrap: wrap;
}

#liste_demande .cell{
    width : 45%;
    margin-top:10px;
    margin-left : 2%;
    margin-right : 2%;
}

table{
    margin-top : 15px;
    border-collapse: collapse;
    width : 100%;
}

td, th{
    border: solid 1px black;
}



