#bloc_page{
    display : flex;
    flex-direction: column;
    align-items : center;
    padding : 10px;
}

hr{
    width : 100%;
    border-bottom : solid 1px gray;
    margin : 0.8em;
}


table{
    margin-top : 15px;
    border-collapse: collapse;
    width : 100%;
}

td, th{
    border: solid 1px black;
}

#liste_demande{
    display : flex;
    flex-wrap: wrap;
}

.cell{
    width : 45%;
    height: 40px;
    margin-top:10px;
    margin-left : 2%;
    margin-right : 2%;
    border : solid 1px black;
    border-radius : 5px;
    display: flex;
    justify-content: space-between;
}