#bloc_page{
    margin-left : 160px;
    display : flex;
    flex-direction: column;
    align-items : center;
    padding : 10px;
}

hr{
    width : 100%;
    border-bottom : solid 1px gray;
    margin : 0.8em;
}


table{
    margin-top : 15px;
    border-collapse: collapse;
    width : 100%;
}

td, th{
    border: solid 1px black;
}